#HistoryContainerHead
{
    margin: 5px 5px 20px 206px;
}
#WantUpContainerHead
{
    margin: 5px 5px 20px 206px;
}


table.songlist tr.albumHead
{
    font-size: 13px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    height: 50px;
}
table.songlist tr.albumHead td
{
    padding: 4px 0 0 2px;
}
table.songlist tr.albumHead td.itemactions
{
    width: 85px;
    padding-left: 27px;
}
table.songlist tr.albumHead td.albumart
{
    padding: 0;
    width: 50px;
}
table.songlist tr.albumHead td.albumart img
{
    margin: 5px 10px 0 10px;
    padding: 2px;
    border: 1px solid #DEDEDE;
    background: url('../images/albumdefault_60.jpg')no-repeat 0px center;
}
table.songlist tr.albumHead a.want
{
    float: left;
    width: 20px;
    height: 50px;
    display: block;
    background: url('../images/plus_8x8.png') no-repeat 6px center;
}
table.songlist tr.albumHead a.want:hover
{
    background: url('../images/plus_8x8.png') no-repeat 6px center #DEECFB;
}
table.songlist tr.albumHead a.removewant
{
    float: left;
    width: 20px;
    height: 50px;
    display: block;
    background: url('../images/minus_gl_8x2.png') no-repeat 6px center;
}
table.songlist tr.albumHead a.removewant:hover
{
    background: url('../images/minus_8x2.png') no-repeat 6px center #DEECFB;
}


table.songlist tr.albumHead a.wantSearchAlbum
{
    float: left;
    width: 20px;
    height: 50px;
    display: block;
    background: url('../images/plus_8x8.png') no-repeat 6px center;
}
table.songlist tr.albumHead a.wantSearchAlbum:hover
{
    background: url('../images/plus_8x8.png') no-repeat 6px center #DEECFB;
}

table.songlist tr.albumHead td.title
{
}
table.songlist tr.albumHead td.artist
{
}


table.songlist tr.songHead
{
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
}
table.songlist tr.songHead td
{
    font-size: 13px;
    padding: 9px 10px;
}
table.songlist tr.songHead td.itemactions
{
    width: 80px;
    padding-left: 27px;
}
table.songlist tr.songHead td.track
{
    width: 40px;
    text-align: right;
}
table.songlist tr.songHead td.title
{
}
table.songlist tr.songHead td.album
{
    padding: 0;
    line-height: 32px;
}
table.songlist tr.songHead td.album img
{
    border: 1px solid #DEDEDE;
    display: block;
    float: left;
    margin: 0 5px;
    padding: 2px;
    background: url('../images/albumdefault_32.jpg')no-repeat 0px center;
} 

table.songlist tr.songHead td.artist
{
}
table.songlist tr.songHead td.time
{
    text-align: right;
}

table.songlist tr.artistHead
{
    font-size: 13px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    height: 50px;
}
table.songlist tr.artistHead td
{
    padding: 4px 0 0 2px;
}
table.songlist tr.artistHead td.itemactions
{
    width: 80px;
    padding-left: 27px;
}
table.songlist tr.artistHead a.add
{
    float: left;
    width: 20px;
    height: 20px;
    display: block;
    margin: 0;
    background: url('../images/plus_gl_8x8.png') no-repeat 6px center;
}
table.songlist tr.artistHead a.add:hover
{
    background: url('../images/plus_8x8.png') no-repeat 6px center #DEECFB;
}



table.songlist tr.historyHead
{
    font-size: 13px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    height: 50px;
}
table.songlist tr.historyHead td
{
    padding: 4px 0 0 2px;
}
table.songlist tr.historyHead td.itemactions
{
    width: 80px;
    padding-left: 27px;
}
table.songlist tr a.removewant
{
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin: 0;
    background: url('../images/minus_gl_8x2.png') no-repeat 6px center;
}
table.songlist tr a.removewant:hover
{
    background: url('../images/minus_8x2.png') no-repeat 6px center #DEECFB;
}


table.songlist tr.wantUpHead td.itemactions
{
    width: 80px;
    padding-left: 27px;
}
table.songlist tr.wantUpHead
{
    font-size: 13px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    height: 50px;
}
table.songlist tr.wantUpHead td
{
    padding: 4px 0 0 2px;
}
table.songlist tr.wantUpHead a.want
{
    float: left;
    width: 20px;
    height: 50px;
    display: block;
    background: url('../images/plus_8x8.png') no-repeat 6px center;
}
table.songlist tr.wantUpHead a.want:hover
{
    background: url('../images/plus_8x8.png') no-repeat 6px center #DEECFB;
}